
<!DOCTYPE html>
<html>
<head>
</head>
<style>
div{
    text-align: center;
}
input{
    font-size: large;
    margin-top: 100px;
    background-color: cornflowerblue ;
    color: #ffffff;
}
</style>
<body  style=" background-image:url(/static/WhatsAppImage2022-05-23at10.35.35PM.jpeg)">
    <div>
    <a href="{% url 'Home' %}" > <input type="button" value=" Human Resources ">   </a> <br>
    <input type="button" value=" Students Affairs "> <br>
    <input type="button" value=" Higher Studies  "><br>
    <input type="button" value=" Laboratory Tracking">
    </div> 
</body>
</html>